.box1{
    width: 300px;
    height: 400px;
    background-color: #2F8141;
    margin-top:,18px;
}

.box2{
    Width: 571px;
    Height: 140px;
    background-color: #13513B;
    margin-top: 16px;
}

.box3{
    Width: 571px;
    Height: 140px;
    background-color: #E624BB;
    margin-top: 16px;
}

.box4{
    Width: 571px;
    Height: 140px;
    background-color: #55EF0D;
    margin-top: 16px;
}